<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Adapter Service</display-name>
  <servlet>
  	<servlet-name>Bmi</servlet-name>
  	<servlet-class>com.introsde.bmi.Bmi</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FitbitSignin</servlet-name>
  	<servlet-class>com.introsde.fitbit.FitbitSignin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FitbitCallback</servlet-name>
  	<servlet-class>com.introsde.fitbit.FitbitCallback</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FitbitUserInfo</servlet-name>
  	<servlet-class>com.introsde.fitbit.FitbitUserInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WeatherForecast</servlet-name>
  	<servlet-class>com.introsde.weather.WeatherForecast</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Weather</servlet-name>
  	<servlet-class>com.introsde.weather.Weather</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FitbitActivities</servlet-name>
  	<servlet-class>com.introsde.fitbit.FitbitActivities</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FitbitBodyGoal</servlet-name>
  	<servlet-class>com.introsde.fitbit.FitbitBodyGoal</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FitbitDailyActivitySummary</servlet-name>
  	<servlet-class>com.introsde.fitbit.FitbitDailyActivitySummary</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FitbitFavoriteActivities</servlet-name>
  	<servlet-class>com.introsde.fitbit.FitbitFavoriteActivities</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FitbitWeightLogs</servlet-name>
  	<servlet-class>com.introsde.fitbit.FitbitWeightLogs</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FitbitProfile</servlet-name>
  	<display-name>FitbitProfile</display-name>
  	<description></description>
  	<servlet-class>com.introsde.fitbit.FitbitProfile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Bmi</servlet-name>
  	<url-pattern>/Bmi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FitbitSignin</servlet-name>
  	<url-pattern>/FitbitSignin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FitbitCallback</servlet-name>
  	<url-pattern>/FitbitCallback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FitbitUserInfo</servlet-name>
  	<url-pattern>/FitbitUserInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WeatherForecast</servlet-name>
  	<url-pattern>/WeatherForecast</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Weather</servlet-name>
  	<url-pattern>/Weather</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FitbitActivities</servlet-name>
  	<url-pattern>/FitbitActivities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FitbitBodyGoal</servlet-name>
  	<url-pattern>/FitbitBodyGoal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FitbitDailyActivitySummary</servlet-name>
  	<url-pattern>/FitbitDailyActivitySummary</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FitbitFavoriteActivities</servlet-name>
  	<url-pattern>/FitbitFavoriteActivities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FitbitWeightLogs</servlet-name>
  	<url-pattern>/FitbitWeightLogs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FitbitProfile</servlet-name>
  	<url-pattern>/FitbitProfile</url-pattern>
  </servlet-mapping>
</web-app>
